.tarjeta {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}

.tarjeta h2 {
    color: darkblue;
}

.tarjeta p {
    color: #444;
}